$primary-color: #85eb7d;
$secondary-color: #009efd;
$third-color: #ff6060;
$title-color: #333333;
$text-color: #b4b4b4;
$gray-color: #f8f8f8;
$gray-dark-color: #727272;
$gray-light-color: #f5f5f5;
$border-color: #dedede;
$primary-font: "Roboto", sans-serif;
$wrapper: 1920px;
$border-radius: 8px;
$speed: 500ms;
