.middle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $primary-font;
  .load-more {
    &:hover {
      color: $secondary-color;
      transition: all 0.4s;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 1200px) {
  .middle-panel {
    width: 100%;
  }
}
