.right-panel {
  font-family: $primary-font;
  max-height: 100vh;
  width: 25%;
  position: fixed;
  top: 0%;
  right: 0%;
  margin-top: 70px;

  .friends-section {
    margin: 1rem 0px;
    .suggest-user {
      .btn-follow,
      .btn-unfollow {
        margin-left: auto;
        width: 7rem;
        outline: none;
        box-shadow: none;
        background-color: $primary-color;
        color: white;
        border-radius: 18px;
        margin-right: 10px;
        &:hover,
        &:active {
          transition: all 0.4s;
          background: white;
          border: 2px solid $primary-color;
          color: $primary-color;
        }
      }
      .btn-unfollow {
        background-color: $third-color;
        color: white;
        &:hover,
        &:active {
          transition: all 0.4s;
          background: white;
          border: 2px solid $third-color !important;
          color: $third-color !important;
        }
      }
      .fa-circle {
        margin-left: auto;
        padding-right: 20px;
        font-size: 11px;
        opacity: 0.5;
        &.active {
          color: forestgreen;
          opacity: 1;
        }
      }
    }
    h4 {
      margin-bottom: 10px;
      font-weight: 600;
    }
    .friend {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      border-radius: 5px;
      padding: 7px 10px;
      color: #333;
      &:hover {
        background: #ddd;
      }
    }
    .name {
      font-size: 18px;
      cursor: pointer;
      margin-left: 3px;
      margin-bottom: 0 !important;
    }
  }
}
@media screen and (max-width: 1280px) {
  .right-panel {
    width: 23%;
  }
}

@media screen and (max-width: 1200px) {
  .right-panel {
    display: none;
  }
}
