@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// *::selection {
//   color: white;
//   background-color: #85eb7d;
// }

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(1);
}

a {
  color: inherit;
  text-decoration: none;
}
i {
  cursor: pointer;
}

textarea {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.carousel-indicators [data-bs-target] {
  width: 9px !important;
  height: 9px !important;
  border-radius: 50% !important;
}

@import "helpers/variable";
@import "helpers/mixin";
@import "pages/login";
@import "pages/active_page";
@import "pages/home";
@import "pages/not-support";
@import "pages/search";
@import "pages/message";
@import "pages/profile";
@import "pages/edit-profile";
@import "pages/profile-media";
@import "pages/profile-saved";
@import "pages/friend";
@import "pages/setting";
@import "pages/post-detail";
@import "layout/main";
@import "layout/header";
@import "components/common/avatar";
@import "components/common/icon";
@import "components/common/bg-cover";
@import "components/common/post";
@import "components/common/create-post";
@import "components/common/menu";
@import "components/common/fomo-notification";
@import "components/home/left-panel";
@import "components/home/middle-panel";
@import "components/home/right-panel";
@import "components/modal/modal-custom";
@import "components/modal/setting-modal";
@import "components/modal/notify-modal";
@import "components/modal/user-modal";
@import "components/modal/status-modal";
@import "components/modal/post-modal";
@import "components/modal/comment-modal";
@import "components/modal/following-modal";
@import "components/message/left-side-message";
@import "components/message/right-side-message";
@import "components/profile/profile-top";
@import "components/profile/profile-body";
@import "components/profile/profile-menu";
@import "components/friend/list-friend";
@import "components/common/list-education";
@import "components/group/left-panel-group";
