.post-modal {
  position: absolute;
  width: 15rem;
  right: 0;
  z-index: 10;
  font-family: $primary-font;
  .dropdown {
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
    transition: height $speed ease;
    .menu {
      .menu-item {
        height: 2.5rem;
        display: flex;
        align-items: center;
        border-radius: 8px;
        transition: background $speed;
        padding: 10px;
        &:hover {
          cursor: pointer;
          background-color: #ddd;
          color: black;
          font-weight: 500;
        }
        .icon-button {
          margin-right: 10px;
          .fa-pen-to-square {
            color: $secondary-color;
          }
          .fa-trash {
            color: $third-color;
          }
          .fa-copy {
            color: $primary-color;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .post-modal {
    .dropdown {
      padding: 0.5rem;
      .menu {
        .menu-item {
          height: 2.3rem;
          padding: 8px;
          font-size: 16px;
          .icon-button {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .post-modal {
    width: 10rem;
    .dropdown {
      .menu {
        .menu-item {
          height: 2rem;
          font-size: 14px;
        }
      }
    }
  }
}
